{% extends "base.html" %}
{% block title %}Policies{% endblock %}
{% block content %}
  <h1>Insurance Policies</h1>
  <a href="{% url 'policy_create' %}">Create new policy</a>
  <ul>
    {% for p in policies %}
      <li>
        <a href="{% url 'policy_detail' p.pk %}">{{ p.policy_number }}</a>
        — {{ p.policy_type }} — {{ p.customer }} — from {{ p.start_date }}  — to {{ p.end_date }}
      </li>
    {% empty %}
      <li>No policies yet</li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
